*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    height: 50px;
    width: 113px;
}

.logo{
    background-image: url("./images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size:cover ;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.address{
    height: 60px;
}

.add-icon{
    display: flex;
    gap: 5px;
    color: white;
}

.add-first{
    padding-top: 10px;
    color: #CCCCCC;
    font-size: 0.85rem;
    padding-left: 18px;
}
.add-sec{
    color: #ffff;
    font-size: 1rem;
    font-weight: bolder;
}

.nav-search{
    display: flex;
    width: 580px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
    
}

.search-bar{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 10px;
}
.search-select{
    text-align: center;
    width: 70px;
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-icon{
    color: white;
    background-color: rgb(243, 192, 97);
    width: 60px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.nav-first{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-size: 0.8rem;
}
.nav-sec{
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-account{
    height: 60px;
}

.nav-cart{
    color: white;
    width: 85px;
    font-size: 0.85rem;
    align-items: center;
}

.nav-cart i{
    width: 38px;
    height: 26px;
    font-size: 30px;
}

.nav-list{
    background-color: #232F3E;
    height: 39px;
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}
.option-icon{
    margin-left: 10px;
    font-size: 17px;
}

.list-items{
    padding: 7px;
}

.hero-section{
    background-image: url(./images/hero_image.jpg);
    height: 370px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    margin-bottom: 25px;
    background-color: white;
    color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    font-size: 14px;
}
.hero-msg-text{
    text-decoration: none;
    color: #007185;
}

.content{
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    margin-top: 20px;
    background-color: white;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.box-heading{
    padding-top: 20px;
    padding-left: 20px;
}

.box-img{
    height: 270px;
    background-size: cover;
    width: 260px;
    margin: 20px;
}

.box1-img{
    background-image: url("./images/box4_image.jpg");
}
.box2-img{
    background-image: url("./images/box1_image.jpg");
}
.box3-img{
    background-image: url("./images/newbox2_image.jpg");
}
.box4-img{
    background-image: url("./images/newbox4_image.jpg");
}
.box5-img{
    background-image: url("./images/books_image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
}
.box7-img{
    background-image: url("./images/toys.jpg");
}
.box8-img{
    background-image: url("./images/furniture.jpg");
    height: 250px;
    margin-top: 10px;
}

.box-grid-container{
    margin: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 109px 18px 109px ;
    gap: 10px;
}
.first-box6{
    background-image: url("./images/jeans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.second-box6{
    background-image: url("./images/tshirt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.img-text{
    font-size: 13px;
}

.box-text{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 13px;
    color: #2162a1;
}
.box9{
    margin-bottom: 20px;
    height: 280px;
    width: 1240px;
}
.box9-container{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.box9-container>div>img{
    margin-top: 20px;
    height: 180px;
}

footer{
    margin-top: 20px;
}

.panel1{
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    font-size: 13px;
}

.panel2{
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    color: #DDDDDD;
    padding-top: 40px;
    height: 300px;
}

.panel2 a{
    display: block;
}

ul>p{
    color: white;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.footer-list-items{
    padding-top: 10px;
    font-size: 14px;
}

.panel3{
    background-color: #232F3E;
    height: 68px;
    display: flex;
    justify-content: center;
}

.footer-logo{
    height: 50px;
    width: 80px;
}

@media (max-width: 600px){
    .navbar{
        height: 180px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .hero-section{
        height: 250px;
        background-size:contain;
        background-repeat: no-repeat;
    }
    .box9{
        height: 540px;
    }
    .box9-container{
        flex-wrap: wrap;
    }
    .box9-container>div>img{
        height: 150px;
    }
}